NEXT_PUBLIC_API_BASE_URL=https://alojamientos.uchceu.es/api
NEXT_PUBLIC_BASE_URL=https://alojamientos.uchceu.es
NEXT_PUBLIC_MEDIA_BASE_URL=https://alojamientos.uchceu.es/uploads
PORT=3000

NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=tu-token-de-mapbox
NEXT_PUBLIC_AWS_COGNITO_USER_POOL_ID=tu-user-pool-id
NEXT_PUBLIC_AWS_COGNITO_USER_POOL_CLIENT_ID=tu-client-id
